- crate = rating.rate.to_i

-# There is a dependency of naming here
- spid  = "rt_#{rating.id}"

- 1.upto(5) do |level|
  - src  = crate >= level ? "bstar01.gif" : "bstar06.gif"
  - img  = "<img src='/images/#{src}' style='border:0;margin:0px'>"
  %span<>= link_to_remote(img, :url=>{:action=>:rating, :id=>rating.id, :level=>level, :refer=>params[:action]}, :update=>spid)

