%object{:width=>"425",:height=>"344"}
  %param{:name=>"movie",:value=>"http://www.youtube.com/v/#{utube[:video]}&amp;hl=en_US&amp;fs=1?rel=0"}
  %param{:name=>"allowFullScreen",:value=>"true"}
  %param{:name=>"allowscriptaccess",:value=>"always"}
    %embed{:src=>"http://www.youtube.com/v/#{utube[:video]}&amp;hl=en_US&amp;fs=1?rel=0",:type=>"application/x-shockwave-flash",:allowscriptaccess=>"always",:allowfullscreen=>"true",:width=>"425",:height=>"344"}
