- content_for :page_style do
  :sass
    #float_tool
      :position fixed
      :left 0%
      :width 100%
      :bottom  0px
      :background-color #448
      :border-top 1px dotted
      :padding-top 5px
    .hozlist
      li
        :border           1px solid #aaaaaa
        :background-color #dd8
    #body
      :background-color #111
    #td
      :color #cc8

#float_tool
  %center= render(:partial=>'toolbar', :object=>{:role=>'monitor'})
This 1
%div{:background_color=>'#000'}
  %table
    %tr
      %th Song
      %th Artist
      %th Rating
%div
  What is this
This 2
