%html
  %head
    %title MPlayer Karaoke - V0.2
    %object#ktop
  %frameset{:cols=>'25%,75%'}
    %frame{:src=>"song_content", :name=>'content'}
    %frameset{:rows=>'67%,33%'}
      %frame{:src=>"monitor", :name=>'monitor'}
      %frame{:src=>"search",  :name=>'search'}
