- content_for "page_style" do
  :sass
    .hozlist
      li
        :line-height 1.5em

%ul
  - fc = ""
  - Lyric.unique_songs.each do |arec|
    - if arec.name[0,1] != fc
      %hr/
      - fc = arec.name[0,1]
    %li= link_to(arec.name, :action=>:lyrics, :lid=>arec.id)
